/* 노말라이즈 시작 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 노말라이즈 끝 */

/* 라이브러리 */
.inline-grid {
  font-size: 0;
}

.inline-grid>* {
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.border-red {
  border: 10px solid red;
}

.border-blue {
  border: 10px solid blue;
}

.border-gold {
  border: 10px solid gold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block {
  display: block;
}

.con {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.img-box>img {
  width: 100%;
  display: block;
}

.title{
  font-size: 20pt;
  font-weight: bold;
}

.main-color {
  color: #3F8AFF
}

.sub-color {
  color: #b2e4ff;
}

.gray {
  color: #ababab;
}

/* 탑바 커스텀 시작 */
.top-bar_logo {
  float: left;
  display: inline-block;
  width: 15%;
  padding: 20px 50px;
}

.menu-shop {
  float: right;
  display: inline-block;
  margin-left: 20px;
}

.top-bar-menu-box {
  text-align: center;
  font-size: 12pt;
}

.top-bar-menu-box>ul {
  display: inline-block;
  padding: 20px 0;
  border-radius: 10px;
}

.top-bar-menu-box ul>li {
  position: relative;
  margin-right: 20px;
}

.top-sub-menu {
  color: #ababab;
  font-size: 12pt;
  font-weight: normal;
  line-height: 10px;
}

.top-bar-menu-box>ul>li {
  display: inline-block;
}

.top-bar-menu-box ul>li>a {
  display: block;
  padding: 10px;
  font-weight: bold;
  white-space: nowrap;
}

.top-bar-menu-box ul>li:hover>a {
  color: #b2e4ff;
}

.top-bar-menu-box ul>li:hover>ul {
  display: block;
}

.top-bar-menu-box ul>li:hover>ul>.top-sub-menu {
  background-color: rgba(255, 255, 255, 0.8);
}

.top-bar-menu-box>ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.top-bar-menu-box>ul ul ul {
  left: 100%;
  top: 0;
}

.top-bar-menu-box>ul>li:last-child>ul ul {
  left: auto;
  right: 100%;
}

/* 메인 커스텀 */
.main {
margin-top: 50px;
margin-bottom: 100px;
padding: 0;
}

/*서브 커스텀*/

.sub-1 {
  text-align:center;
  margin: 70px 0;
}

.water-icon{
  font-size: 30px;
  opacity: 0.3;
  margin-top: 10px;
}

.sub-title-2{
  font-size: 12pt;
  margin-bottom: -2px;
  font-weight: bold;
}

.sub-1-img{
  display: inline-block;
  margin: 50px auto;
}

.sub-2 {
  position: relative;
  text-align:center;
  margin: 70px 0;
}

.sub-2-title {
  position: absolute;
  font-size: 26pt;
  top: 19%;
  left: 35%;
  transform: translate( -50%, -50% );
}

.sub-2-subTitle {
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate( -50%, -50% );
  font-size: 26pt;
  font-weight: bold;
  margin-top: -5px;
}

.sub-2-text{
  position: absolute;
  top: 80%;
  left: 65%;
  transform: translate( -50%, -50% );
  text-align: right;
  font-weight: bolder;
  line-height: 26px;
}

.background-img {
  display: inline-block;
  margin: auto;
}